[submodule "amplify-appsync-chat/chat-client"]
	path = amplify-appsync-chat/chat-client
	url = git@github.com:full-stack-serverless/chat-app.git
[submodule "amplify-custom-authentication/custom-authentication"]
	path = amplify-custom-authentication/custom-authentication
	url = git@github.com:full-stack-serverless/custom-authentication.git
